@model PlayerInfoVM
    

<div class="text-center">
    <h4>Welcome to QuizPond</h4>
    <br /> 
    <form method="post" asp-action="Index" asp-controller="Main">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="row form-group justify-content-center">                  
                <input asp-for="@Model.GameCode" placeholder="Code" class="form-control" style="width: 6.3em;" />                  
        </div>
        <br />
        <div class="row form-group justify-content-center">
            <button class="btn btn-primary" type="submit">Submit code</button>
        </div>
    </form>
</div>


