

<div class="text-center">
    <h4 class="text-center">You have stored a new quiz</h4>
    <br /><br />
    <div>
        <a asp-controller="Main" asp-action="Index" class="btn btn-primary">Ok</a>
    </div>
</div>






