@model LoginVM


<div class="text-center">     
    <h4>Login</h4>
    <br />
    <form method="post" asp-action="Login" asp-controller="Account">

        <div asp-validation-summary="All"></div>

        <div class="row justify-content-center">
            <input asp-for="Email" placeholder="Enter email" class="form-control" style="width: 14.5em;" />
            <span asp-validation-for="Email"></span>
        </div>

        <br />

        <div class="row justify-content-center">
            <input asp-for="Password" placeholder="Enter password" class="form-control" style="width: 14.5em;" />
            <span asp-validation-for="Password"></span>
        </div>

        <br />

        <div>
            <label asp-for="KeepMeLoggedIn"></label>
            <input asp-for="KeepMeLoggedIn" />
        </div>

        <br />

        <div>
            <button class="btn btn-primary" type="submit">Log in</button>
        </div>

    </form>
</div>

