@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.EntityFrameworkCore

@inject SignInManager<ApplicationUser> SignInManager


@if (SignInManager.IsSignedIn(User))
{
    <a class="nav-item nav-link" asp-action="LogOut" asp-controller="Account">Logout</a>
}
else
{
    <a class="nav-item nav-link" asp-action="Login" asp-controller="Account">Login</a>
    <a class="nav-item nav-link" asp-action="Register" asp-controller="Account">Register</a>   
}